.header {
  position: absolute;
  z-index: 1000;
}

.logo {
  position: absolute;
  z-index: 1000;
}

.bg_slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 10s linear infinite 0s;
  animation-timing-function: step-end;
  background-image: url('../images/slideshow1.png');
}

@keyframes slideBg {
  0% {
    background-image: url('../images/slideshow1.png');
  }
  10% {
    background-image: url('../images/slideshow2.png');
  }
  20% {
    background-image: url('../images/slideshow3.png');
  }
  30% {
    background-image: url('../images/slideshow4.png');
  }
  40% {
    background-image: url('../images/slideshow5.png');
  }
  50% {
    background-image: url('../images/slideshow6.png');
  }
  60% {
    background-image: url('../images/slideshow7.png');
  }
  70% {
    background-image: url('../images/slideshow8.png');
  }
  80% {
    background-image: url('../images/slideshow9.png');
  }
  90% {
    background-image: url('../images/slideshow10.png');
  }
  100% {
    background-image: url('../images/slideshow11.png');
  }
}
